/* Posthaste stylesheet */

#posthaste-form {
    margin:1em 0;
    padding:10px;
    width:100%;
}
#posthaste-form #posthaste-intro { padding:1em 0; margin:0 0 0.5em; overflow:hidden; }
#posthaste-form #posthaste-intro img.avatar { margin:0; padding:0 8px 0 0; }
#posthaste-form #posthaste-intro b { font-size:1.3em; margin-right:7px; }
#posthaste-form textarea,
#posthaste-form label { display:block; line-height:1.2em; }

#posthaste-form textarea,
#posthaste-form label,
#posthaste-form option,
#posthaste-form input,
#posthaste-form .taxonomy-select { font-size:12px; }

#posthaste-form .title-wrap,
#posthaste-form .content-wrap { position:relative; }

#posthaste-form div.title-wrap label,
#posthaste-form div.content-wrap label {
	position:absolute;
	color:#bbb;
	cursor:text;
	padding:4px 8px;
	height:auto;
}
#posthaste-form div.rich-edit label { display:none; }

#posthaste-form .title-wrap label,
#posthaste-form #post_title {
	display:block;
	font-size:1.7em;
	padding:3px 4px;
	margin:0 0 1em;
	width:90%;
}

#posthaste-form .content-wrap label,
#posthaste-form #post_content {
	padding:3px 4px;
	width:92%;
	height:12em;
}
/* BEGIN - Rich editor: */
#posthaste-form .rich-edit { width:93%; }
#posthaste-form .rich-edit table {
	margin:0;
}
#posthaste-form #editor-toolbar { display:none; }
#posthaste-form #post_content_tbl td {
	padding:3px 2px;
}
	#posthaste-form #post_content_tbl .mceToolbar td {
		display:-moz-inline-stack;
		display:inline-block;
		vertical-align:top;
		zoom:1;
		*display:inline;
		padding:0 1px;
	}
	#posthaste-form .mceToolbar .mceButton {
		margin:1px;
	}
	#posthaste-form .mceToolbar .mceSeparator {
		width:10px;
	}
#post_content_tbl tr.mceFirst,
#post_content_tbl .mceIframeContainer {
	background-color:#e4e4e4;
}
#post_content_tbl tr.mceLast {
	background-color:#ededed;
}
	#post_content_tbl .mceToolbar .mceButtonEnabled {
		background-color:#f4f4f4;
	}
	#post_content_tbl .mceToolbar .mceButtonActive {
		background-color:#ccc;
	}
	.mceListBoxMenu {
		background-color:#f8f8f8;
	}
	.mceListBoxMenu a:hover {
		background-color:#e4e4e4;
	}
/* END - Rich editor: */

#posthaste-form .general-fields,
#posthaste-form .featured-image,
#posthaste-form .prospress-fields {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	*display:inline;
	width:49%;
}

/* BEGIN - Auction fields: */
#posthaste-form .curtime {
	margin:20px 0 10px;
}
	#posthaste-form #endtimestampdiv input {
		font-size:11px;
	}
	#posthaste-form .edit-endtimestamp {
		display:-moz-inline-stack;
		display:inline-block;
		vertical-align:baseline;
		zoom:1;
		*display:inline;
		font-size:11px;
		background-color:#f2f2f2;
		border:1px solid #bbb;
		-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
		padding:3px 6px;
		margin-left:7px;
	}
	
	#posthaste-form .prospress-fields #start_price {
		width:75px;
	}

/* END - Auction fields */

/*#posthaste-form .tags-wrap,
#posthaste-form .cats-wrap,
#posthaste-form .status-wrap,*/
#posthaste-form .field-wrap {
	margin:20px 0 0;
	padding-right:15px;
}
#posthaste-form .taxonomy-label,
#posthaste-form .tags-label,
#posthaste-form .cats-label,
#posthaste-form .taxonomy-select,
#posthaste-form #tags_input,
#posthaste-form #start_price {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:baseline;
	zoom:1;
	*display:inline;
	margin-right:5px;
}
#posthaste-form #tags_input {
	width:200px;
}

#posthaste-form .status-wrap label { display:inline; }
#posthaste-form input#post_status { margin-left:5px; }

#posthaste-form input#post-submit {
	display:block;
	margin:17px auto;
}

div.posthaste-notice {
	font-weight:bold;
	text-align:center;
	border:1px solid #ccc;
    background-color:#f6f6f6; 
    -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
	padding:13px 20px;
	margin:1em auto;
	width:80%;
}

.ac_results {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    display: none;
    border: 1px solid #ccc;    
    font-size: 1.1em;    
    background: #fff;
}
.ac_results li {
    margin: 0;
    padding: 2px 4px;
    white-space: nowrap;
    text-align: left;
}
.ac_over {
    cursor: pointer;    
    color: #fff;
    background: #777;
}
.ac_match {    
    text-decoration: underline;
}
